<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Portfolio</title>
  <link rel="stylesheet" href="/styles/style.css"> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/company">Companies</a></li>
          <li><a href="/game">Games</a></li>
          <% if (role === 'admin') { %>
            <li><a href="/company/add">Add Company (Admin)</a></li>
            <li><a href="/game/add">Add Game (Admin)</a></li>
          <% } else if (role === 'editor') { %>
            <li><a href="/company/add">Add Company (Editor)</a></li>
          <% } %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li> <!-- Added Register button -->
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
      

  <main>
    <%- body %> <!-- Where content from other views will be injected -->
  </main>

  <footer>
    <p>&copy; Turan Tastan. BDA-2301.</p>
  </footer>
</body>
</html>
